* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

.App {
  width: 100%;
  height: auto;

}

.container-Navbar {
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;





}

.Navbar {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141c27;
}

.Navbar-left {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B4242;

}

.Navbar-middle {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B4242;
}

.Navbar-right {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B4242;
  height: 100%;

}


.container-NavbarShow {
  position: fixed;
  top: 0;
  right: -30%;
  /* Điều chỉnh giá trị này để menu ẩn hoặc hiển thị tùy thuộc vào thiết kế của bạn */
  height: 100%;
  width: 30%;
  /* Điều chỉnh kích thước menu tùy thuộc vào thiết kế của bạn */
  background-color: #333;
  color: #fff;
  transition: right 0.5s;
  z-index: 100;
  /* Thêm hiệu ứng chuyển động */

}

.menu-open {
  right: 0;
}

.img-logoreact {
  width: 30px;
  height: 30px;


}

.text-logo {
  font-family: "Roboto", sans-serif;
  margin-left: 5%;
  font-size: 18px;
  color: white;
  z-index: 30;
  margin-top: 20px;
}

.text-logo:hover {
  cursor: pointer;
  color: #55e6a5;
}


.Navbar-middle>a:hover {
  color: #55e6a5;


}

.Navbar-middle>a>.Navbar-middle-Gach {
  color: #092635;
  display: block;
  margin-left: 0%;
  opacity: 0;
  /* Ẩn phần tử ban đầu */
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.Navbar-middle>a:hover>.Navbar-middle-Gach {
  opacity: 1;
  /* Hiển thị khi hover */
  transform: translateX(0%);
  /* Di chuyển từ trái sang phải khi hover */
}

.fa-palette {
  color: white;
  margin-right: 50px;
  margin-left: -50px;
}

.fa-palette:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  margin-left: 2%;
  margin-right: 2%;
  color: white;
  /* z-index: 31; */
}

.Navbar-middle-Gach {
  width: 100%;
  height: 5px;
  background-color: #092635;
  margin-bottom: -5px;
}

.Navbar-middle>a:hover>.Navbar-middle-Gach {
  margin-left: 0%;
}

/* .Navbar-middle>a:hover>.Navbar-middle-Gach {
  margin-left: 0%;

} */


@media (prefers-reduced-motion: no-preference) {
  .img-logoreact {
    animation: App-logo-spin infinite 18s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


body.menu-closed {
  overflow: hidden;
  /* Ngăn chặn cuộn màn hình khi container-NavbarShow được mở */
}

.fa-bars {
  color: white;
}

.fa-bars:hover {
  cursor: pointer;
  color: #55e6a5;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Màu tối */
  z-index: 100;
  /* Đảm bảo nằm trên tất cả các phần tử khác */
  display: none;
  /* Ẩn mặc định */

}

.overlay.active {
  display: block;
  /* Hiển thị khi active */
}

#home>img {
  width: 100%;
  height: 800px;
  position: absolute;
}

.Home-banner {
  width: 100%;
  height: 800px;
  position: absolute;
  background-color: #092635;
}

.home-info {
  width: 50%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: white;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10%;

}

.home-avt {
  width: 50%;

  height: 400px;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home {
  width: 100%;
  height: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-small>p {
  width: 100%;
  height: auto;
  font-size: 50px;
}



.sec-text {
  /* width: 50%; */
  height: auto;
  font-family: monospace;
  color: #ffffff;
  letter-spacing: 3px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid black;
  animation: typingne 3s steps(20) infinite alternate,
    caretne 0.5s steps(2) infinite;
}

@keyframes caretne {
  from {
    border-color: transparent;
  }

  to {
    border-color: rgb(255, 255, 255);
  }
}

@keyframes typingne {
  from {
    width: 0;
  }

  to {
    width: 400px;
    /* Thay đổi giá trị này để khớp với chiều dài thực tế của văn bản */
  }

}

.info-small {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 30%;
  margin-top: 15%;
}

.text-small {
  font-size: 18px;
  margin-top: 30px;
  opacity: 0.5;

}

.downloadCV {
  width: 180px;
  height: 50px;
  margin-top: 30px;
  border-radius: 15px;
  /* background-color: #5C8374; */
  background-color: #1B4242;
  border: none;
  color: rgb(255, 255, 255);
  z-index: 200;
  font-size: 15px;
}

.downloadCV:hover {
  background-color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 15px;
}

.avt {
  background-image: url('./public/image/banner_shape.png');
  position: absolute;
  content: "";

  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
  animation: bannerAnimi1 linear 1s infinite alternate;
  margin-left: 22%;

}

.NavbarShow-top {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b4242;
}

.NavbarShow-top>p {
  width: 80%;
}

.NavbarShow-top-X {
  width: 10%;
  height: 45px;
  border-radius: 50%;
  background-color: #9EC8B9;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.fa-x {
  position: absolute;
  font-size: 15px;
  z-index: 4;
  color: rgb(0, 0, 0);

}

.NavbarShow-top-X:hover>.fa-x {
  color: #9EC8B9;

}

.NavbarShow-top-X:hover {
  background-color: #000000;
  cursor: pointer;

}

.NavbarShow-middle {
  background-color: #092635;
  width: 100%;
  height: 150px;
  padding-bottom: 30px;

}

.NavbarShow-middle-AboutText {

  margin-bottom: 20px;
  width: 50%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -40px;

  font-family: "Roboto", sans-serif;
}

.NavbarShow-middle-AboutText1 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  width: 70%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  font-family: "Roboto", sans-serif;
  color: #a2a2a2;
  /* opacity: 0.5; */

}

.NavbarShow-bottom {
  background-color: #092635;
  width: 100%;
  height: 70%;
  padding-left: 40px;
}

.NavbarShow-bottom-Tieude {
  padding-bottom: 20px;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  margin-left: -5px;
}

.NavbarShow-bottom-input {
  height: 40px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  border: 1px solid rgb(0, 0, 0);
  background-color: #1b4242;
  border-radius: 5px;
  outline: none;
  color: white;
}

.NavbarShow-bottom-input:focus {
  border: 1px solid black;
  outline: 1px solid black;
}

.NavbarShow-bottom-button {
  height: 40px;
  width: 30%;
  background-color: #1b4242;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
}

.NavbarShow-bottom-button:hover {
  background-color: #000000;
  cursor: pointer;
}

.gachngang1 {
  width: 100%;
  height: 1px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #092635;

}

.gachngang {
  width: 80%;
  height: 2px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #1d6c6c;
}

.color-picker {
  position: relative;
  width: 20%;

}

.setRiengMobile {
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: chartreuse;
  border-radius: 8px;
  /* margin-right: 50px;
  margin-left: -50px;
  margin-top: 20px; */
  margin-top: 40px;


  background: #EF6CED;
  background: linear-gradient(135deg, #EF6CED, #F210B2);
}

.smooth-transition {
  transition: background-color 0.5s ease;
  /* Điều chỉnh thời gian và kiểu chuyển đổi theo ý muốn */
}

.color:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.color {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

/* ---------------RESPONSIVE------------------------ */



/* Styles cho màn hình lớn (laptop và lớn hơn) */


/* Styles cho màn hình trung bình (tablet) */