#carousel {
    width: 100%;
    height: auto;
}


.nav-container {
    width: 80%;
    height: 200px;
    position: relative;
}

.layout {

    display: flex;
    height: 200px;
    gap: 10px;
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.layout>img {
    z-index: 2;
    flex: 1;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}

.layout>img:hover {
    flex: 2;
    z-index: 2;

    /* thay đổi tỉ lệ scale tùy ý */
}