.content {
    position: relative;
    height: auto;
    width: 40%;
    top: 150px;
    margin-left: 62%
}

.layout {

    display: flex;
    height: 200px;
    gap: 10px;
}

.layout>img {

    flex: 1;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}

.layout>img:hover {
    flex: 2;
}