/* Cursor.css */
.cursor {
    position: fixed;
    width: 45px;
    height: 45px;
    /* border: 2px solid #ff0000; */

    border-radius: 50%;
    opacity: 0.3;
    /* background-color: transparent;
    mix-blend-mode: difference; */
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s;
    z-index: 9999999;
/* pointer-events: none; */
}

.cursor.hovered {
    width: 80px;
    height: 80px;
   
}