/* Styles cho màn hình nhỏ (điện thoại di động) */
@media only screen and (max-width: 767px) {

    /* Thêm các quy tắc CSS cho màn hình nhỏ ở đây */
    .container-Navbar {
        /* Ví dụ: điều chỉnh kích thước container hoặc bố cục */
        display: none;
    }

    .mobile-navbar {
        display: block;
    }

    /* MobileNavbar.css */

    /* MobileNavbar.css */

    /* MobileNavbar.css */

    /* MobileNavbar.css */

    .mobile-navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 40%;
        height: 100%;
        overflow: hidden;
        z-index: 103;

    }

    .mobile-navbar.active {
        display: block;
    }

    .mobile-navbar-toggle {
        background-color: #1b4242;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;
        margin-left: 15px;
        margin-top: 15px;
        opacity: 0.5;


    }

    .menu-icon {
        background-color: white;
        height: 3px;
        width: 20px;
        margin: 3px 0;
        transition: transform 0.3s;
    }

    .mobile-navbar-links {
        display: flex;
        flex-direction: column;
        background-color: #1b4242;
        padding: 10px;
        position: fixed;
        top: 0;
        left: -50%;
        width: 40%;
        height: 100%;
        transition: left 0.5s ease-in-out;
        z-index: 999;

    }

    .mobile-navbar-links a {
        color: white;
        text-decoration: none;
        padding: 10px;
        /* border-bottom: 1px solid #092635; */
        transition: background-color 0.3s;
    }

    .mobile-navbar-links a:hover {
        background-color: #092635;

    }

    .mobile-navbar.open .mobile-navbar-links {
        left: 0;

    }

    .home-avt {
        display: none;
    }

    .Home-banner {
        width: 100%;
        height: 800px;
        position: absolute;
        background-color: #092635;
        justify-content: center;
        align-items: center;
        display: flex;
    }



    .home-info {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-left: -20%;
        margin-top: -20%;
    }

    .sec-text {
        /* width: 50%; */
        height: auto;
        font-family: monospace;
        color: #ffffff;
        letter-spacing: 3px;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid black;
        animation: typingne 3s steps(20) infinite alternate,
            caretne 0.5s steps(2) infinite;
    }

    @keyframes caretne {
        from {
            border-color: transparent;
        }

        to {
            border-color: rgb(255, 255, 255);
        }
    }

    @keyframes typingne {
        from {
            width: 0;
        }

        to {
            width: 280px;
            /* Thay đổi giá trị này để khớp với chiều dài thực tế của văn bản */
        }

    }

    .overlayne {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        /* Màu tối */
        z-index: 100;
        /* Đảm bảo nằm trên tất cả các phần tử khác */
        display: none;
        /* Ẩn mặc định */
    }

    .overlayne.active {
        display: block;
        /* Hiển thị khi active */
    }

    .container-NavbarShow {
        z-index: 99;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        /* Màu tối */
        z-index: 100;
        /* Đảm bảo nằm trên tất cả các phần tử khác */
        display: none;
        /* Ẩn mặc định */
    }

    .overlay.active {
        display: block;
        /* Hiển thị khi active */
    }

    .info-small-SetriengMoblie {
        width: 100%;
        height: 100%;
    }

    .info-small {
        height: 90%;
        margin-top: -20%;
    }

    .sec-text {
        /* width: 50%; */
        height: auto;
        font-family: monospace;
        color: #ffffff;
        letter-spacing: 3px;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid black;
        animation: typingne 3s steps(20) infinite alternate,
            caretne 0.5s steps(2) infinite;
        font-size: 18px;
    }

    @keyframes caretne {
        from {
            border-color: transparent;
        }

        to {
            border-color: rgb(255, 255, 255);
        }
    }

    @keyframes typingne {
        from {
            width: 0;
        }

        to {
            width: 190px;
            /* Thay đổi giá trị này để khớp với chiều dài thực tế của văn bản */
        }

    }

    .info-small>p {
        font-size: 25px;
    }

    .text-small {

        width: 100%;

        /* Hoặc text-justify: inter-character; */
    }

    .container-NavbarShow {
        display: none;
    }

    /* Add any additional styling as needed */


    /* Add any additional styling as needed */
    .About-2 {
        background-color: #092635;
        width: 200px;
        height: 230px;
        margin-top: 20px;
        margin-left: 0%;

    }

    .About-2-Background {
        width: 200px;
        height: 200px;
        position: relative;

    }

    .Container-project {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .About-1-Text1 {
        font-size: 20px;
    }

    .About-2-Background1 {
        width: 200px;
        height: 200px;
        background-color: rgba(0, 128, 128, 0.5);
        /* Màu nền với độ mờ */
        position: absolute;
        z-index: 3;
        /* Đặt phía dưới tấm ảnh */
    }

    .About-2-Background-image {
        width: 200px;
        height: 200px;
        /* bottom: 0;
        left: 0; */
        top: 0;
        right: 0;
        z-index: 4;
        position: absolute;
        object-fit: cover;
        margin-right: 0px;
    }

    #about {
        width: 100%;
        height: 900px;
        background-color: #092635;
    }

    .Education-1-time {
        width: 50%;
        font-size: 18px;
        display: inline-block;
        border: 1px solid #55e6a5;
        padding: 11px 24px;
        color: #55e6a5;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .Education-1-Text {
        color: white;
        font-size: 20px;
        text-align: left;
    }

    .Education-3-Text {
        color: white;
        font-size: 15px;
    }

    #education {
        background-color: #09101a;
        height: 1700px;
        width: 100%;
        text-align: center;
        padding-top: 50px;

    }

    #skills {
        background-color: #09101a;
        height: 2800px;
        width: 100%;
        text-align: center;

    }

    .setRieng {
        margin-top: -10px;
    }

    .setRieng1 {
        margin-top: 30px;
    }

    .setRieng3 {
        margin-top: 30px;
    }

    .skills-wrap-text {
        width: 100%;
        height: 470px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50%;
    }

    .Skills-3-margin-DT {
        margin-top: 10px;
    }

    .Container-Lienhe-Box {

        width: 100%;
        height: 100%;
        background-color: #09101a;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Lienhe-2 {
        background-color: #09101a;
        width: 100%;
        height: 100%;
        margin-left: 20%;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    #Lienhe {
        width: 100%;
        height: 1100px;
        background-color: #09101a;
    }

    .Lienhe-2-button {
        color: rgb(255, 255, 255);
        padding-left: 20px;
        text-align: left;
        margin-top: 20px;
        background-color: #418787;
        width: 100%;
        height: 50px;
        border-radius: 9px;
        border: none;
    }

    .Lienhe-2-button:hover {
        background-color: #092635;
    }

    .wrap-Lienhe2 {
        width: 100%;
        height: 55%;
        margin-left: -45%;
        /* display: flex;
        justify-content: center;
        align-items: center; */

    }

    .Lienhe-2-Background {
        width: 100%;
        height: auto;
        /* position: relative; */
        /* background-color: #a2a2a2; */
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .Lienhe-2-Background-Wrap {

        width: 100%;
        height: auto;
    }

    .Lienhe-2-input-middle {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .Lienhe-2-input {
        width: 100%;
        height: 50px;
        border-radius: 9px;
        border: none;
        padding-left: 20px;
        background-color: #092635;

    }

    .Lienhe-3 {
        margin-top: 40px;
        background-color: #09101a;
        width: 100%;
        height: 100%;
        padding: 10px 10px 10px 10px;

    }

    .setRiengMoblie2 {
        position: relative;
    }

    .setRiengMobile {

        position: absolute;
        font-size: 20px;
        display: block;

    }

    .downloadCV-1 {
        margin-left: 20%
    }

    .fa-palette-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20%;

    }

    .color-picker {
        position: relative;
        width: 100%;

    }

    .dropdown-content {

        width: 50%;
        display: none;
        position: absolute;
        z-index: 1;
        background-color: chartreuse;
        border-radius: 8px;
        /* margin-right: 50px;
        margin-left: -50px;
        margin-top: 20px; */
        margin-top: 130px;
        margin-left: 30px;

        background: #EF6CED;
        background: linear-gradient(135deg, #EF6CED, #F210B2);
    }

}



.container-skills-wrap-text {

    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.skills-wrap-text {
    display: flex;
    flex-wrap: wrap;
}

.skills-text-card {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 15px;
}

@media (min-width:375px) {
    #about {
        width: 100%;
        height: 1100px;
        background-color: #092635;
    }

    .Education-1-time {
        text-align: center;
        width: 65%;
        font-size: 18px;
        display: inline-block;
        border: 1px solid #55e6a5;
        padding: 11px 24px;
        color: #55e6a5;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .info-small {
        margin-left: 20%;
    }
}

@media (min-width: 768px) {
    .skills-text-card {
        width: 50%;
    }

    .col-md-4 {
        margin-top: 20px;
        width: 50%;
    }
}

@media (min-width: 992px) {
    .col-md-4 {
        width: 33%;
    }

    .skills-text-card {
        width: 32.333333%;
    }
}